/* this css file will only style the homepage of our site */
body {background-color: bisque;}
.cat-photo {
  margin: 10px;
  max-width: 500px;
}

div.minor-section{
  background-color: aquamarine;
}

